<!DOCTYPE html5>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../style.css">
    <title>HOME | HELMET WRAP CUSTOMIZER</title>
  </head>
    <body id="designframe">
				<div class="container-fluid" id="helmetTemplate"> <!-- BEGIN CONTAINER --> 
					<span>
						<h1>Click Squares to Change Helmet Wraps!</h1>
						<canvas id="btnWrap01" width="75" height="75"></canvas>
						<canvas id="btnWrap02" width="75" height="75"></canvas>
						<canvas id="btnWrap03" width="75" height="75"></canvas>
						<canvas id="btnWrap04" width="75" height="75"></canvas>
						<canvas id="btnWrap06" width="75" height="75"></canvas>
					</span></br>
					<div clas="row">
						<div class="col-md-2"></div>
						<div class="col-sm-8">
							<canvas id="customHelmet" width="550" height="550"></canvas>
						</div>
						<div class="col-md-2"></div>	
					</div>
				</div> <!-- ====================END CONTAINER======================== -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js""></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/custom.js"></script>
		<script type="text/javascript" src="../js/custom-buttons.js"></script>

  </body>
</html>
