<!DOCTYPE html5>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../style.css">
    <title>HOME | HELMET WRAP CUSTOMIZER</title>
  </head>
    <body id="designframe">
		<h1>BASE LAYER</h1>
    <canvas id="btnBlack" width="75" height="75"></canvas>
		<br>
		
    
		<div class="container-fluid" id="helmetTemplate">
		<span>
			<h1>WRAPPERS</h1>
			<!-- <canvas id="btnWrap01" width="75" height="75"></canvas>   -->
<!-- 			<canvas id="btnBlue" width="75" height="75"></canvas>
			<canvas id="btnOrange" width="75" height="75"></canvas>
			<canvas id="btnTEMPLATE" class="black"width="75" height="75"></canvas> -->
			<!-- <canvas id="btnWrap" width="75" height="75"></canvas>   -->
			<canvas id="btnWrap01" width="75" height="75"></canvas>
			<canvas id="btnWrap02" width="75" height="75"></canvas>
			<canvas id="btnWrap03" width="75" height="75"></canvas>
			<canvas id="btnWrap04" width="75" height="75"></canvas>
			<canvas id="btnWrap05" width="75" height="75"></canvas>
			<canvas id="btnWrap06" width="75" height="75"></canvas>
		</span>
    </br>
    <span>
        <h1>PANEL STICKERS</h1>
    		<!-- <canvas id="btnGreen" width="75" height="75"></canvas> -->
    		<canvas id="btnPanel" width="75" height="75"></canvas>	
    </span>
			<div clas="row">

				<div class="col-md-2"></div>
					<div class="col-sm-8">
							<canvas id="customHelmet" width="973" height="1080"></canvas>
					</div>
					<div class="col-md-2"></div>	
			</div>
		</div>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- CUSTOM SCRIPTS -->
		<script type="text/javascript" src="../js/custom.js"></script>
		<script type="text/javascript" src="../js/custom-buttons.js"></script>

  </body>
</html>
